body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #fff9e8;
}
h1 {
   color: rgb(0, 0, 0);
   text-align: center;
  margin-top:10px;
}
h2 {
   color: rgb(0, 0, 0);
   text-align: center;
}
  h4 {
   color: rgb(0, 0, 0);
   text-align: center;
    
}

h5 {
   color: rgb(0, 0, 0);
   text-align: left;
  font-size:25px;
    
}

h6 {
   color: rgb(0, 0, 0);
   text-align: left;
  font-size:15px;
  margin-bottom:10px;
    
}


header {
   color: rgb(0, 0, 0);
   background-color: rgb(130, 61, 102);
   text-align: center;
  margin-bottom:20px;
}

  
p {
   font-family: verdana;
  text-align: center;
   font-size: 20px;
}

p2 {
   
 text-align: left;
  font-size:15px;
  margin-bottom:10px;
}
  


footer p {background-color: rgb(130, 61, 102);}


a:link
{text‐decoration: none;
color: #c8acbe;}

a:visited {text‐decoration: none;
color: #343434;}

a:hover {text‐decoration: none;
color: #3b2b35;}

a:active { text‐decoration: none;
color: #FFFFFF;}

nav {
  display: center;
  gap: 20px; }

footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}